include ./_mixins.jade

doctype html
html.no-js(lang=lang)
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    | !{title}
    | !{meta}
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1'
    )

    //- TODO
    //- link(rel='apple-touch-icon', href='apple-touch-icon.png')

    //- TODO: optimize
    +stylesheet('https://fonts.googleapis.com/css?family=Lato:300,400,700,900')

    +stylesheet('/stylesheets/app.css')
    script(src='/javascripts/lib/modernizr-custom.js')
  body
    <!--[if lt IE 9]>!{BROWSER_UPGRADE}<![endif]-->

    #content
      | !{content}

    script
      | window.INITIAL_STATE = !{INITIAL_STATE};
    script(src='/javascripts/app.js')
