include ./_mixins.jade

doctype html
html.no-js(lang=lang)
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    | !{title}
    | !{meta}
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'
    )

    //- generated with http://realfavicongenerator.net
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#000000')
    meta(name='msapplication-TileColor', content='#000000')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')
    meta(name='theme-color', content='#ffffff')

    meta(name='og:image', content='http://spendwallet.com/images/fb_share.png')
    meta(name='og:title', content='Spendwallet')
    meta(name='og:type', content='article')
    meta(name='og:description', content='Your heavy, thick traditional wallet should better evolve into "Spendwallet" - a smart electronic wallet that consolidates all your cards and pays everywhere with just a tap.')

    meta(name='twitter:image', content='http://spendwallet.com/images/fb_share.png')
    meta(name='twitter:title', content='Spendwallet')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:description', content='Your heavy, thick traditional wallet should better evolve into "Spendwallet" - a smart electronic wallet that consolidates all your cards and pays everywhere with just a tap.')

    //- TODO: optimize
    +stylesheet('https://fonts.googleapis.com/css?family=Lato:300,400,700,900')

    +stylesheet('/stylesheets/app.css')
    script(src='/javascripts/lib/modernizr-custom.js')

    <!-- Facebook Pixel Code -->
    script
        | !function(f, b, e, v, n, t, s) {
        |    if (f.fbq) return;
        |    n = f.fbq = function() {
        |        n.callMethod ?
        |            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        |    };
        |    if (!f._fbq) f._fbq = n;
        |    n.push = n;
        |    n.loaded = !0;
        |    n.version = '2.0';
        |    n.queue = [];
        |    t = b.createElement(e);
        |    t.async = !0;
        |    t.src = v;
        |    s = b.getElementsByTagName(e)[0];
        |    s.parentNode.insertBefore(t, s)
        | }(window, document, 'script', '//connect.facebook.net/en_US/fbevents.js');

        | fbq('init', '1021064937958884');
        | fbq('track', "PageView");
    noscript
        img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1021064937958884&ev=PageView&noscript=1")

    <!-- End Facebook Pixel Code -->

    script
      if isDev
        | window['ga-disable-UA-55322295-2'] = true;
      | (function(s,p,e,n,d,w,a,l,le,t){s.GoogleAnalyticsObject=n;s[n]||(s[n]=function(){(s[n].q=s[n].q||[]).push(arguments)});s[n].n=+new Date;d=p.createElement(e);w=p.getElementsByTagName(e)[0];d.src='https://www.google-analytics.com/analytics#{isDev ? '_debug' : ''}.js';w.parentNode.insertBefore(d,w)}(window,document,'script','ga'));ga('create','UA-55322295-2','auto');ga('send','pageview');
  body
    <!--[if lt IE 9]>!{BROWSER_UPGRADE}<![endif]-->

    #content
      | !{content}

    script
      | window.INITIAL_STATE = !{INITIAL_STATE};
      | window.MESSAGES = !{MESSAGES};
      | window.CSRF_TOKEN = !{CSRF_TOKEN};

    script(src='/javascripts/lib/swipe.js')
    script(src='/javascripts/app.js')
